body {
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-x: auto;
    overscroll-behavior-y: none;
    width: 100vw;
    height: 100vh;
}

.initial-view {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.carousel-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    height: 80%;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-image .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-image:hover .image-overlay {
    opacity: 1;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    transition: background-color 0.5s ease-in-out;
}

.carousel-prev {
    left: 0;
}

.carousel-next {
    right: 0;
}

.carousel-control:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
